{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Kennwort zurücksetzen." %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Kennwort zurücksetzen." %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% trans "Sie haben ihr Kennwort vergessen? Bitte geben Sie ihre E-Mail-Adresse unten ein, dann schicken wir ihnen einen Verweis, unter dem Sie ihr Kennwort zurücksetzen können." %}
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Kennwort zurücksetzen' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}Bitte kontaktieren Sie uns, wenn das Zurücksetzen des Passworts nicht klappt. {% endblocktrans %}
    {% endelement %}
{% endblock content %}
