{% extends 'bootstrap/base.html' %}

{% load crispy_forms_tags navtag %}

{% block navigation %}
{% nav "heimat" for hauptnav %}
{{ block.super }}
{% endblock %}

{% block seitennavigation %}
{% nav "wanderstrecken" for sidenav %}
{{ block.super }}
{% endblock %}

{% block inhalt %}

    <form method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
	{{ form|crispy }}
        <button type="submit" class="btn btn-success">Speichern</button>
    </form>

{% endblock %}
