{% extends 'bootstrap/base.html' %}

{% load crispy_forms_tags navtag %}

{% block navigation %}
{% nav "heimat" for hauptnav %}
{{ block.super }}
{% endblock %}

{% block seitennavigation %}
{% nav "wanderstrecken" for sidenav %}
{{ block.super }}
{% endblock %}

{% block inhalt %}

    <h3>Hochladen eines Bildes.</h3>

    <p>Ein Bild läßt ihre Wanderstrecke in der Übersicht hervortreten. Sollte kein eigenes Bild hochgeladen werden, wird eine Vorgabebild verwendet. Das Bild kann nachträglich jederzeit geändert werden.</p>

    <div class="container mb-3">
        <div class="col-md-5 px-0">
            {% if form.bild.url %}
                {{ form.bild }}
            {% else %}
                <img class="rounded ms-auto" src="/media/wanderstrecke.jpg"/>
            {% endif %}
        </div>
    </div>

    <form method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
	{{ form|crispy }}
    <h3>Festlegen der Wanderabschnitte.</h3>
    <p> Im nächsten Schritt muß die Wanderstrecke mit Leben gefüllt werden, das heißt, es muß ein oder es müssen mehrere Wanderabschnitte hinzugefügt werden, um den Streckenverlauf der Wanderung zu definieren. Wählen Sie dazu eine der bereit gestellten Schaltflächen aus.</p>
        <button type="submit" name="weiter_mit_neuem_abschnitt" class="btn btn-success">Weiter mit einem neuem Abschnitt</button>
        <button type="submit" name="weiter_mit_vorhandenem_abschnitt" class="btn btn-success">Weiter mit Auswahl eines vorhandenen Abschnittes</button>
        <a href="{% url 'benutzer:wizard1' object.id %}" class="btn btn-primary">Zurück</a>
    </form>


{% endblock %}
