{% load i18n static cache_bust navtag %}

{% nav text "active" for sidenav %}

<ul class="nav nav-pills flex-column ">
    <li class="nav-item">
        <a class="nav-link eintrag {{ sidenav.profil }}" href="{% url 'benutzer:home' %}">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link eintrag {{ sidenav.wanderstrecken }}" href="{% url 'benutzer:wanderstrecken' user.id %}">Wanderstrecken</a>
    </li>
    <li class="nav-item">
        <a class="nav-link eintrag {{ sidenav.authentifizierung }}" href="{% url 'benutzer:wanderstrecken' user.id %}">Zugangsdaten</a>
    </li>
</ul>

