@import "vorheader";
@import "header";

$textfarben: (
  "rot": $red_70,
  "grun": $green_50,
  "blau": $blue_70,
  "gelb": $yellow_30,
  "grau": $gray_90,
);

@each $name, $farbe in $textfarben {
  .#{$name} {
    color: $farbe;
  }
}

body {
  padding-top: 0rem;
}

.topnav {
    padding-left: 0;
    height: 3.625rem;
    z-index: 1039;
    font-size: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
}

.haupttext {
  padding: 3rem 1.5rem;
  text-align: center;
}

.anderertext {
  text-align: center;
}

.card-text-height {
    min-height: 120px;
}
.card-header-min-height {
    min-height: 75px;
}

.header-text {
    font-size: 1.2em;
}

.richtig {
    background-color: #6fff78;
}

.falsch {
    background-color: #ff6f6f;
}

.header {
  padding: 3rem 1.5rem;
  text-align: center;
}
